body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5em;
    color: #8c8c8c;
    text-align: center;
    margin: 50px auto;
    border: 4px solid #8c8c8c;
    padding: 5px 15px;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 0 100px;
    box-sizing: border-box;
}

ul li {
    position: relative;
    list-style: none;
    font-size: 24px;
    font-weight: 700;
    color: #777;
    text-transform: uppercase;
    padding:  10px 20px;
    margin: 5px;display: inline-flex;
    transition: 0.5s;
    cursor: pointer;
}

ul li:hover {
    color: #fff;
}

ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #000;
    z-index: -1;
    transform-origin:  right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

ul li:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: #000;
    z-index: -1;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

ul li:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}

ul li:nth-child(3n+3)::before,
ul li:nth-child(3n+3)::after {
    background: #0BE881;
} 

ul li:nth-child(3n+2)::before,
ul li:nth-child(3n+2)::after {
    background: #A55EEA;
}

ul li:nth-child(3n+1)::before,
ul li:nth-child(3n+1)::after {
    background: #EF5777;
} 